<div>
<p>
 The CMAKE_BUILD_TYPE. Standard types can be selected via combo box (MultiConfiguration, Debug, Release, RelWithDebInfo, MinSizeRel).
</p>
<p>
 If your generator is a multi configuration generator such as Visual Studio, choose MultiConfiguration. This will not pass any argument to cmake regarding CMAKE_BUILD_TYPE during the generation step.
</p>
<p>
 Custom build types can be specified in 'Other Build Type'
</p>
<p>
 Results in -DCMAKE_BUILD_TYPE=&lt;build_type&gt; 
</p>
</div>